@font-face {
    font-family: 'PressStart';
    src: url('../font/prstartk.ttf') format('truetype');
}

body {
    background: black;
    color: white;
    font-family: 'PressStart';
    text-align: center;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover {
    color: #FFD300;
}

.logo {
    width: 350px;
    margin: 20px 0;
}

section {
    padding: 80px 0;
    border-bottom: 2px solid #FFD300;
}

section:last-of-type {
    border-bottom: none;
}

#home .pacman {
    transform: scaleX(-1);
}

.pacman {
    margin-right: 80px;
}

@keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
}

.insert {
    -webkit-animation: blink 2s infinite;
    animation: blink 2s infinite;
    margin-top: 40px;
}

@keyframes moveLeft {
    0% { transform: translateX(100vw); }
    100% { transform: translateX(-100vw); }
}

.chase-left {
    display: flex;
    justify-content: center;
    gap: 40px;
    -webkit-animation: moveLeft 8s linear infinite;
    animation: moveLeft 8s linear infinite;
}

@keyframes moveRight {
    0% { transform: translateX(-100vw); }
    100% { transform: translateX(100vw); }
}

.chase-right {
    display: flex;
    justify-content: center;
    gap: 40px;
    -webkit-animation: moveRight 8s linear infinite;
    animation: moveRight 8s linear infinite;
}

section img {
    width: 60px;
}

.ready {
    color: #FFD300;
    font-size: 24px;
    margin-bottom: 10px;
}

.subtitle {
    margin-bottom: 40px;
}

.score-table {
    max-width: 900px;
    margin: 0 auto;
}

.header-row,
.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 8px 0;
}

.yellow { color: #FFD300; }
.red { color: #FF0401; }
.cyan { color: #01F8F8; }
.pink { color: #FF60B0; }
.orange { color: #FFA002; }

.how-title {
    margin-top: 40px;
    margin-bottom: 20px;
}

.how-text {
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.8;
}

#howto {
    padding-bottom: 140px;
}

.how-text::first-line {
    color: #FFD300;
    text-transform: uppercase;
}

.players-table {
    max-width: 500px;
    margin: 60px auto 0 auto;
}

.player-row {
    display: grid;
    grid-template-columns: 80px 1fr 1fr;
    align-items: center;
    margin: 25px 0;
}

.player-row img {
    width: 45px;
}

.player-row span:first-of-type {
    text-align: left;
}

.player-row span:last-of-type {
    text-align: left;
}

.ghost-eaten {
    width: 35px;
    margin-left: 10px;
}

.big-dot {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #FFD300;
    margin-left: 10px;
}

.small-dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #FFD300;
    margin-left: 10px;
}

footer {
    padding: 30px;
    font-size: 10px;
}